*
{
    margin:0;
    padding:10px;
}
h2 a{
    
   margin-left: 570px;
}
a:hover
{
    color: rgb(18, 124, 18);
    text-decoration: none;
}

table{
    width: 50%;
    max-width: 500px;
    margin : 20px auto;
}
.n1
{
    background-color: rgb(36, 192, 127);
}
.n2
{
    background-color: red;
}
.n3
{
    background-color: aquamarine;
}
.n4
{
    background-color: rgb(23, 20, 196);
}
.n5
{
    background-color: rgb(46, 119, 71);
}
.n6
{
    background-color: brown;
}
.n7
{
    background-color: rgb(197, 197, 11);
}
.n8
{
    background-color: rgb(8, 103, 180);
}
.n9
{
    background-color: pink;
}